*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    background-color: #122286;
    width: 100%;
    height: 100px;
    color: #fa591c;
}

ul{
    list-style-type: none;
}

main{
    background-color: #fff;
}